/* 共通のレイアウト */
*{
  box-sizing:border-box;
}


body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  margin:0;
  color:#363636
}

.wrap{
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:white;
}

.container{
  width:100%;
  max-width: 1170px;
  margin:0 auto;
  padding:0 20px;
}

h1{
  color:white;
  font-size:56px;
  margin:0;
  padding:200px 0;
}

h2{
  text-align: center;
    font-size:50px;
    padding:100px 0 70px 0;
	  font-family: 'Sofia',cursive,Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
}


.flex-box{
  display:flex;
}

/*header*/
header{
  padding:0px;
  background-color: black;
}

.header-logo{
  position:relative;
  top:15px;
  bottom:15px;
}
.menu {
    justify-content: flex-end;
    margin:0;
}
.menu li{
  padding:0 15px;
}

@media(max-width:800px){
  header li{
      display:none;
    }

  header{
    height:120px;
  }
}


/*top*/
.top{
  height: 1000px;
  background-image: url(progate.png);
  background-size:cover;
  opacity: 0.7;
}

@media(max-width:800px){
  .top h1{
    font-size:32px;
  }
}



/*service*/
.service{
  text-align: center;
}

.service-content p{
  width:80%;
  display: inline-block;
  font-size: 18px;
  text-align: left;
}

.service-content img{
  width:350px;
  height:300px;
}

@media(max-width:800px){
  .service-content{
    flex-flow:column;
  }

  .service-content p{
    width:70%;
    text-align: left;
  }

  .service-content img{
    width:250px;
    height:200px;
  }
}


/*portfolio*/
.portfolio{
  text-align: center;
  background-color: #f7f7f7;
}

.slide li{
  float:left;
  width:25%;
}

ul .slide{
  padding-left: 0;
}

@media(max-width:1000px){
  .slide li{
    width:50%;
    padding-left: 30px;
  }
}

@media(max-width:670px){
  .slide li{
    width:100%;
    padding:10px 30px 10px 0;

  }
}

.btn{
    background-color:#336699;
    color:#fff;
    padding:20px 120px;
    display:inline-block;
    border-radius: 5px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.7);
    font-weight: bold;
    margin: 30px 0;
}

@media(max-width:670px){
  .btn{
    width:100%;
  }
}

.btn:hover{
    opacity:0.9;
    box-shadow:inset 0 0px 20px rgba(255,255,255,0.5);
    text-decoration:none;
}


/*About*/
.about{
  margin-bottom: 120px;

}

.about img{
  border-radius: 50%;
}

.about p{
  font-size:20px;
  line-height: 2;
  padding:0px 40px 0px 40px;
}

@media(max-width:850px){
.about-content{
      flex-flow:column;
    }
}

/*Contact*/
.contact-form{
  padding:100px 0 100px 100px;
}


/*footer*/
footer{
    padding:30px 0;
    background-color:#363636;
    color:#fff;
}

    .footer-list li{
		padding:0 5px;
    }

}
